<div class='navbar navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
        <div class='container'>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-var"></span>
                <span class="icon-var"></span>
                <span class="icon-var"></span>
            </button>
            <a class="brand" href="./musics">Sukesan1984</a>
            <div class="nav-collapse collapse">
                <ul class='nav'>
                    <li class='active'><a href='musics'>Musics</a></li>
                    <li><a href='games'>Games</a></li>
                    <li><a href='wordpress'>Blogs</a></li>
                    <li><a href="http://www.youtube.com/user/Sukesan1984">Back to YoutTube</a><li>
                </ul>
            </div>
        </div>
    </div>
</div>
